*
!.gitignore


!users_images/
users_images/*
!users_images/default-user-image.webp

!property_images/
property_images/*

!property_images/property_1/
property_images/property_1/*
!property_images/property_1/p1.1.avif
!property_images/property_1/p1.2.avif
!property_images/property_1/p1.3.avif

!property_images/property_2/
property_images/property_2/*
!property_images/property_2/p2.1.avif
!property_images/property_2/p2.2.avif
!property_images/property_2/p2.3.avif

!property_images/property_3/
property_images/property_3/*
!property_images/property_3/p3.1.avif
!property_images/property_3/p3.2.avif
!property_images/property_3/p3.3.avif

!property_images/property_4/
property_images/property_4/*
!property_images/property_4/p4.1.avif
!property_images/property_4/p4.2.avif
!property_images/property_4/p4.3.avif

!property_images/property_5/
property_images/property_5/*
!property_images/property_5/p5.1.avif
!property_images/property_5/p5.2.avif
!property_images/property_5/p5.3.avif

!property_images/property_6/
property_images/property_6/*
!property_images/property_6/p6.1.avif
!property_images/property_6/p6.2.avif
!property_images/property_6/p6.3.avif

!property_images/property_7/
property_images/property_7/*
!property_images/property_7/p7.1.avif
!property_images/property_7/p7.2.avif
!property_images/property_7/p7.3.avif

!property_images/property_8/
property_images/property_8/*
!property_images/property_8/p8.1.avif
!property_images/property_8/p8.2.avif
!property_images/property_8/p8.3.avif

!property_images/property_9/
property_images/property_9/*
!property_images/property_9/p9.1.avif
!property_images/property_9/p9.2.avif
!property_images/property_9/p9.3.avif

!property_images/property_10/
property_images/property_10/*
!property_images/property_10/p10.1.avif
!property_images/property_10/p10.2.avif
!property_images/property_10/p10.3.avif

!property_images/property_11/
property_images/property_11/*
!property_images/property_11/p11.1.avif
!property_images/property_11/p11.2.avif
!property_images/property_11/p11.3.avif

!property_images/property_12/
property_images/property_12/*
!property_images/property_12/p12.1.avif
!property_images/property_12/p12.2.avif
!property_images/property_12/p12.3.avif