# Ignore everything
*
!.gitignore

# Keep users_images directory but ignore its contents
!users_images/
users_images/*
!users_images/default-user-image.webp

# Keep property_images directory
!property_images/
property_images/*

# Keep specific property folders and their default images
!property_images/property_[1-9]/
!property_images/property_[1-9][0-9]/
property_images/property_*/*
!property_images/property_*/p*.1.avif
!property_images/property_*/p*.2.avif
!property_images/property_*/p*.3.avif

# Keep hero section default images
!sections/
!sections/hero/
!sections/hero/slide-[0-2]/
!sections/hero/slide-[0-2]/hero-slide-[0-2]-default.jpg

# Keep features section default images
!sections/features/
!sections/features/feature-[0-2]/
!sections/features/feature-[0-2]/feature-[0-2]-default.svg

!sections/about/
!sections/about/about-default.jpeg

# keep team section default images
!sections/team/
!sections/team/member-[0-3]/
!sections/team/member-[0-3]/member-[0-3]-default.jpg