# Ignore everything
*
!.gitignore

# Keep users_images directory but ignore its contents
!users_images/
users_images/*
!users_images/default-user-image.webp

# Keep property_images directory
!property_images/
property_images/*

# Keep specific property folders and their default images
!property_images/property_[1-9]/
!property_images/property_[1-9][0-9]/
property_images/property_*/*
!property_images/property_*/p*.1.avif
!property_images/property_*/p*.2.avif
!property_images/property_*/p*.3.avif