
 :root { 
     /* Theme Variables  */
     --sidebar-bg: #1e293b; 
     --sidebar-text: #e2e8f0; 
     --sidebar-border: #334155; 
     --sidebar-hover-bg: #334155; 

     /* Active item color */
     --active-bg: #0d9488; 
     --active-text: #ffffff; 
     --active-bg-opacity: rgba(59, 130, 246, 0.1); 

     /* Footer color */
     --footer-item-bg: #334155; 
     --footer-hover-bg: #475569; 
     --logout-bg: rgba(127, 29, 29, 0.5); 
     --logout-hover-bg: #7f1d1d; 

     /* Avatar/icon backgroun */
     --avatar-bg: #0d9488; 

     /* Mobile button color */
     --mobile-btn-bg: #0d9488; 

     /* Scrollbar color */
     --scrollbar-track: #1e293b; 
     --scrollbar-thumb: #4b5563; 
     --scrollbar-hover: #64748b; 
 }
