@import "admin_layout_theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl;
    scroll-behavior: smooth;
}

html::selection {
    background-color: rgba(0, 0, 0, 0.1);
}

span {
    font-family: BeinNormal;
}

/* fonts */

@layer base {
    @font-face {
        font-family: "BlueOcean";
        font-weight: 400;
        src: url("../../public/fonts/BlueOcean.ttf");
    }
    @font-face {
        font-family: "WasmFontBold";
        font-weight: 400;
        src: url("../../public/fonts/WasmFontBold.ttf");
    }
    @font-face {
        font-family: "bein";
        font-weight: 400;
        src: url("../../public/fonts/Bein.ttf");
    }
    @font-face {
        font-family: "BeinNormal";
        font-weight: 400;
        src: url("../../public/fonts/BeinNormal.ttf");
    }
    @font-face {
        font-family: "Alarabiya";
        font-weight: 400;
        src: url("../../public/fonts/Alarabiya.ttf");
    }
}


:root {
    --primary-color: oklch(0.554 0.046 257.417) !important;
    --primary-color-text: oklch(0.208 0.042 265.755) !important;
    --p-primary-50: oklch(0.984 0.003 247.858) !important;
    --p-primary-100: oklch(0.968 0.007 247.896) !important;
    --p-primary-200: oklch(0.929 0.013 255.508) !important;
    --p-primary-300: oklch(0.869 0.022 252.894) !important;
    --p-primary-400: oklch(0.704 0.04 256.788) !important;
    --p-primary-500: oklch(0.554 0.046 257.417) !important;
    --p-primary-600: oklch(0.446 0.043 257.281) !important;
    --p-primary-700: oklch(0.372 0.044 257.287) !important;
    --p-primary-800: oklch(0.279 0.041 260.031) !important;
    --p-primary-900: oklch(0.208 0.042 265.755) !important;
    --p-primary-950: oklch(0.129 0.042 264.695) !important;

    --p-select-focus-border-color: #262626 !important;
    --p-multiselect-focus-border-color: #262626 !important;
}

@layer utilities {
    .btn {
        @apply flex justify-center items-center gap-2 rounded-lg py-2 px-4 text-center transition-all duration-300 ease-in-out;
    }
}

.p-password-input {
    width: 100%;
}

.p-select-overlay {
    direction: ltr;
}

.p-select-option-label {
    text-align: right;
    width: 100%;
    font-family: BeinNormal;
}

.p-button-primary{
background-color: #41a396 !important;
border-color: #0d675b !important;
}

.p-galleria-indicator-list {
    padding: 2px !important;	
}

.p-galleria-indicator{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding:  4px 0 !important;
}

.p-galleria-prev-button{
    color: rgb(119, 119, 119) !important;
}
.p-galleria-next-button{
    color: rgb(119, 119, 119) !important;
}

.p-galleria-nav-button{
    background-color: rgba(255, 255, 255) !important;
}

.p-steppanel{
    background-color: rgba(255, 255, 255, 0) !important;
}